<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Подключение файла CSS -->
</head>
<body>
<div class="container">
    <h2>Логин</h2>
    <form action="/login" method="post">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Вход</button>
        <p>Нет аккаунта? <a href="/registration">Зарегистрируйтесь здесь!</a></p>
    </form>
</div>
</body>
</html>
